<h1>Editing Civic Tech Application</h1>

<%= render 'form', civic_tech_application: @civic_tech_application %>

<%= link_to 'Show', @civic_tech_application %> |
<%= link_to 'Back', civic_tech_applications_path %>
